<!DOCTYPE html>
<html>

<head>
	<script src="/js/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<style>
		#map {
			height: 400px;
			width: 100%;
		}

	</style>

</head>

<body>
	<!-- As a heading -->
	<header class="navbar navbar-expand flex-column flex-md-row">
		<a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">
  			<img src="/data/deciduous-tree.png" width="30" height="30" class="d-inline-block align-top" alt=""> <title>Green Place</title></img>
		</a> Green Place
		<div class="navbar-nav-scroll">
			<ul class="navbar-nav bd-navbar-nav flex-row">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
			</ul>
		</div>
	</header>


	<div id="map"></div>
	<script>
		function initMap() {

			var uluru = {
				lat: 43.624984999999995,
				lng: 1.4319346
			};
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 12,
				center: uluru
			});

			$.getJSON("/dataJson", function(data) {
				
				$.each(data, function(key, val) {

					var contentString = '<div id="content">' +
						'<div id="siteNotice">' +
						'</div>' +
						'<h1 id="firstHeading" class="firstHeading">' + val.fields.patrimoine + '</h1>' +
						'<div id="bodyContent">' +
						'<p><b>Location : </b>' + val.fields.adresse + '</p>' +
						'<p><b> Recorded : </b>' + val.record_timestamp + '</p>' +
						'<p><b> Coordinate : </b>' + '[' + val.geometry.coordinates[1] + ',' + val.geometry.coordinates[0] + ']' + '</p>' +
						'</div>' +
						'</div>';

					var infowindow = new google.maps.InfoWindow({
						content: contentString,
						position: {
							lat: val.geometry.coordinates[1],
							lng: val.geometry.coordinates[0]
						}
					});

					var imageTree = "/data/deciduous-tree.png";

					let coordinate = val.fields.geo_shape.coordinates;
					let flightPlanCoordinates = new Array(coordinate.length);

					for (let i = 0; i < coordinate.length; i++) {
						flightPlanCoordinates[i] = {
							lat: coordinate[i][1],
							lng: coordinate[i][0]
						};
					}

					var flightPath = new google.maps.Polyline({
						path: flightPlanCoordinates,
						geodesic: true,
						strokeColor: '#73BA37',
						strokeOpacity: .6,
						strokeWeight: 6
					});

					flightPath.addListener('click', function() {
						infowindow.open(map)
					})
					flightPath.setMap(map);
				});
			});
		}

	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrmAKRosfqSjSXvy2aLhZC7yyhVZ66JAs&callback=initMap">


	</script>

	<!--

	<script>
		$.getJSON("/data", function(data) {
			console.log(data);

			var items = [];
			$.each(data, function(key, val) {
				items.push("<li id='" + key + "'>" + val.fields.patrimoine + "</li>");
			});

			$("<ul/>", {
				"class": "my-new-list",
				html: items.join("")
			}).appendTo("body");
			console.log(items);
		});

	</script>
-->

	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>
