<!DOCTYPE html>
<html>

<head>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

	<style>
		#map {
			height: 400px;
			width: 100%;
		}

	</style>
</head>

<body>
	<h3>My Google Maps Demo</h3>
	<div id="map"></div>
	<script>
		function initMap() {
			var uluru = {
				lat: 43.624984999999995,
				lng: 1.4319346
			};
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 11,
				center: uluru
			});

			$.getJSON("/data", function(data) {
				$.each(data, function(key, val) {
					let treeStart = {
						lat: val.geometry.coordinates[1],
						lng: val.geometry.coordinates[0]
					};

//					console.log("tree = " + treeStart.lat + ' ' + treeStart.lng);
					const icon = "https://www.google.fr/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiD6qropsvYAhWHvRQKHZyNCK0QjRwIBw&url=http%3A%2F%2Fwww.freepngimg.com%2Fnature%2Ftree&psig=AOvVaw2OWB6GluivBx8mABdKCNnP&ust=1515601797263085";
					
//					if (val.fields.geo_shape.type == "LineString") {
						new google.maps.Marker({
							position: treeStart,
							map: map
						});
//					} else if (val.fields.geo_shape.type == "MultiLineString"){
//						
//					} else {
//						console.log("[ERROR] - "+val.fields.geo_shape.type); 
//					}
				});
			});
		}

	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrmAKRosfqSjSXvy2aLhZC7yyhVZ66JAs&callback=initMap">


	</script>

	<!--

	<script>
		$.getJSON("/data", function(data) {
			console.log(data);

			var items = [];
			$.each(data, function(key, val) {
				items.push("<li id='" + key + "'>" + val.fields.patrimoine + "</li>");
			});

			$("<ul/>", {
				"class": "my-new-list",
				html: items.join("")
			}).appendTo("body");
			console.log(items);
		});

	</script>
-->
</body>

</html>
